- if @forms != nil
  - @forms.each do |f|
    .form
      = f.model
      = "ブランド名:#{f.brand}"
      = "#{f.price}万円"
      = "#{f.weight}kg"
- elsif @bikes != nil
  - @bikes.each do |b|
    .bike
      = "ブランド名:#{b.brand}"
      = b.model
      = "#{b.price}万円"
      = "#{b.weight}kg"
- else
  .bike
    - puts "検索結果はありませんでした"
