.bikes
  .new
    .content
      .content__form
        = form_for @bike do |f|
          .content__form__box
            .content__form__box__name
              = "ブランド名"
            = f.text_field :brand,class:"field"
          .content__form__box
            .content__form__box__name
              = "車種名"
            = f.text_field :model,class:"field"
          .content__form__box
            .content__form__box__name
              = "価格"
            = f.text_field :price,class:"field"
          .content__form__box
            .content__form__box__name
              = "重さ"
            = f.text_field :weight,class:"field"
          .content__form__image
            .content__form__image__name
              画像
            .content__form__image__main
              -# .content__form__image__main__box #ここから下5行はjsでアペンドされる要素
              -#   .content__form__image__main__box__pic
              -#   .content__form__image__main__box__btns
              -#     .content__form__image__main__box__btns__remove
              -#       = "削除"
              %label.content__form__image__main__label#label{for:"bike_images_attributes_0_src"}
                #image-box
                  = f.fields_for :images do |image|
                    .content__form__image__main__label__group{data:{index:image.index}}
                      = image.file_field :src,class:"file"
                    = "選択"
          .content__form__submit
            = f.submit :"登録する", class:"content__form__submit__btn"
      
        







  -# = form_for @bike do |f|
  -#   .content-n__info
  -#     車種を登録してください
  -#   .content-n__form
  -#     .content-n__form__box
  -#       .content-n__form__box__name
  -#         ブランド名
  -#         = f.text_field :brand_id
  -#     .content-n__form__box
  -#       .content-n__form__box__name
  -#         車種名
  -#         = f.text_field :model_id
  -#     .content-n__form__box
  -#       .content-n__form__box__name
  -#         画像
  -#         = f.text_field :image
  -#     .content-n__form__box
  -#       .content-n__form__box__name
  -#         価格
  -#         = f.text_field :price_id
  -#     .content-n__form__box
  -#       .content-n__form__box__name
  -#         重さ
  -#         = f.text_field :weight_id
  -#   = f.submit :"登録する", class:"content-n__submit"



    -# .content-n__form__box__name
    -#       ブランド名
    -#     = f.select :brand_id, [["あ","1"],["い","2"]], class:"content__form__box__btn"
    -#   .content-n__form__box
    -#     .content-n__form__box__name
    -#       車種名
    -#     = f.select :model_id, [["あ","1"],["い","2"]], class:"content__form__box__btn"
    -#   .content-n__form__box
    -#     .content-n__form__box__name
    -#       画像
    -#     = f.select :image, [["あ","1"],["い","2"]], class:"content__form__box__btn"
    -#   .content-n__form__box
    -#     .content-n__form__box__name
    -#       価格
    -#     = f.select :price_id, [["2","1"],["4","2"]], class:"content__form__box__btn"
    -#   .content-n__form__box
    -#     .content-n__form__box__name
    -#       重さ
    -#     = f.select :weight_id, [["1","1"],["2","2"]], class:"content__form__box__btn"
    -# = f.fields_for :brands do |i|
    -#       = i.text_field :name