.bikes
  .search
    .contents
      - if (params[:search].present?)
        - @search.each do |s|
          .contents__content
            .contents__content__box
              .contents__content__box__list
                = "ブランド名:#{s.brand}"
              .contents__content__box__list
                = "車種:#{s.model}"
              .contents__content__box__list
                = "重さ:#{s.weight}"
              .contents__content__box__list
                = "価格:#{s.price}"
            .contents__content__right
              = link_to "この自転車の詳細に行く",bike_path(s.id),class:"contents__content__right__link"
      - else
        - @bikes.each do |b|
          .contents__content
            .contents__content__box
              .contents__content__box__list
                = "ブランド名:#{b.brand}"
              .contents__content__box__list
                = "車種:#{b.model}"
              .contents__content__box__list
                = "重さ:#{b.weight}"
              .contents__content__box__list
                = "価格:#{b.price}"
            .contents__content__right
              = link_to "この自転車の詳細に行く",bike_path(b.id),class:"contents__content__right__link"