.bikes
  .search
    .forms
      - if @forms != nil
        .forms__form
          - @forms.each do |f|
            .forms__form__box
              .forms__form__box__brand
                = "ブランド名:#{f.brand}"
                = link_to f.model, bike_path(f.id), class:"forms__form__box__brand__link"
              -# = "#{f.price}万円"
              -# = "#{f.weight}kg"
      - elsif @bikes != nil
        .forms__form
          - @bikes.each do |b|
            .forms__form__box
              .forms__form__box__brand
                = "ブランド名:#{b.brand}"
                = link_to b.model, bike_path(b.id),class:"forms__form__box__brand__link"
              -# = "#{b.price}万円"
              -# = "#{b.weight}kg"
      - else
        .forms__error
          - puts "検索結果はありませんでした"