.bike
  .show
    .contents
      .contents__brand
        =  "ブランド名:#{@bike.brand}"
      .contents__model
        = "車種名:#{@bike.model}"
      .contents__weight
        = "重さ:#{@bike.weight}kg"
      .contents__price
        = "価格:#{@bike.price}万"
      .contents__image
        .contents__image__box
          - @images.each do |i|
            = image_tag "#{i.src}",width:"100px",height:"100px"
      .contents__comment
        = "コメント"
        .contents__comment__box
          - @comments.each do |c|
            .contents__comment__box__list
              = c.text
      .contents__post
        = link_to "新規コメント", new_bike_comment_path(params[:id]),class:"comment"
