!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RoadbikePortal
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      = link_to "RoadBiker",root_path, class:"header__name"
      %header__btn
        - if user_signed_in?
          = link_to "新規投稿",new_bike_path, class:"header__btn__post"  
          = link_to "ログアウト", destroy_user_session_path, class:"header__btn__sign-out"
        - else
          = link_to "新規登録", new_user_registration_path, class:"header__btn__sign-up"
          = link_to "ログイン", new_user_session_path, class:"header__btn__sign-in"
    = yield
    %footer
      フッター
