!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RoadbikePortal
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      = link_to "RoadBiker",root_path, class:"name"
      .btn
        - if user_signed_in?
          = link_to "こんにちは#{current_user.nickname}さん",user_path(current_user.id),class:"btn__user"
          = link_to "新規投稿",new_bike_path, class:"btn__post"  
          = link_to "ログアウト", destroy_user_session_path, class:"btn__sign-out"
        - else
          = link_to "新規登録", new_user_registration_path, class:"btn__sign-up"
          = link_to "ログイン", new_user_session_path, class:"btn__sign-in"
    = yield
    %footer
      フッター
